/* Write your styles */
.broo{
    margin: 5% 5%;
    text-align: center;
 }
.broo img{
    border-radius: 15px;
    height: 300px;
}
.broo h3{
    font-size: 24px;
    color: #191919;
    text-align: center;
    font-weight: 400;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.wp{
    width: 100%;
    height: auto;
}
strong{
    font-size: 1.2em;
    color: red;
}
dl dt{
    text-align: left;
}
dl dd{
    font-size: 1em;
    color: #48257a;
}