* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 10px;
    height: auto !important;
    overflow: scroll !important;
}

ul {
    list-style: none;
}

body {
    position: relative;
    height: auto !important;
    font-family: Helvetica, Tahoma, Arial, Hiragino Sans GB, \\51AC\9752\9ED1\4F53, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, STXihei, \\534E\6587\7EC6\9ED1, SimSun, \\5B8B\4F53, Heiti, \\9ED1\4F53, sans-serif;
    max-width: 480px;
    min-width: 320px;
    background: #e9e9e9 !important;
    margin: 0 auto;
    line-height: 1;
    overflow: scroll !important;
}
div{
    display: block;
}
.comwh {
    width: 100%
}

.secone img {
    display: block;
    width: 100%
}

.sectwo {
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    width: 100%;
    height: 280px;
    /*background-color: #e9e9e9;*/
}

.locone {
    width: 88%;
    height: 40px;
    margin-top: 3%;
    margin-left: 6%;
    border-radius: 5px;
    font-size: 12px;
    padding: 4%;
    border: solid 1px grey;
}

.secthree {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 10%;
}

.loctwo {
    width: 50%;
    height: 40px;
    margin-left: 6%;
    border-radius: 5px 0 0 5px;
    font-size: 12px;
    padding: 2%;
    border: solid 1px grey;
}

.locthree {
    width: 38%;
    border-radius: 0 5px 5px 0;
    box-shadow: none;
    margin-left: -5px;
    height: 40px;
    font-size: 12px;
    padding: 0.9em 0.25em;
    border: solid 1px grey;
    border-left: solid 0.5px white;
    background-color: #f8c442;
    color: #4f4f4f;
}
.locthree:hover{
    color: darkblue;
}

.item-select{
    color: #999;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    -webkit-appearance: none;
    padding: 0 20px;
    border: 0 none;
    outline: none;
    background:  url("/rccf/src/images/Drop.png") no-repeat scroll #ffffff;
    background-position: 95%;
    background-size: 5%;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
}
.secfour{
    clear: both;
    width: 88%;
    height: 40px;
    margin-left: 6%;
    margin-top: -6%;
    position: relative;
    border: 1px solid #d9d9d9;
    padding: 1px;
    border-radius: 5px;
    background: #fff;
    padding: 0px 0;
    border: solid 1px grey;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    display: block;
    color: #333;
    text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btn{
    width: 88%;
    display: block;
    margin-top: 6%;
    margin-left: 6%;
    text-align: center;
    border-radius: 22px;
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: #f60;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    height: 44px;
    line-height: 44px;
    padding: 1px 6px;
    user-select: none;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-rendering: auto;
}