.login{
       margin: 15%;
       text-align: center;
       color: white;
       background-color: rgba(9, 7, 35, 1);
   }

.loginform{
    margin: 32px;
    font-size: 32px;
}
.forget{
    text-align: right;
    margin-top: -25px;

}
a{
    position: relative;
    margin-top: 50px;
    margin-right: 26%;
    color: #FFFFFF;
    font-size: 14px;
}
a:hover{
    color: #981617;
}

input[type="submit"]{
    box-shadow: inset 0px 0px 10px blue;
    -webkit-text-shadow: 0px 0px 3px #000;
    -moz-text-shadow: 0px 0px 3px #000;
    -o-text-shadow: 0px 0px 3px #000;
    -ms-text-shadow: 0px 0px 3px #000;
    outline: none;
    border: none;
    font-size: 16px;
    margin-top: 40px;
    padding: 8px;
    width: 420px;
    color: #cbf9f7;
    border-color: blue;
    background-color: blue;
}
input[type=submit]:hover{
    color: #981617;
}
.bigwidth{
    margin: 14px;
    padding: 8px;
    width: 400px;
    color: #988c8d;
}
.add-staff{
    margin-top: 10%;
    margin-left: 30%;
}
.add-button{
    width: 250px;
    box-shadow: inset 0px 0px 10px #3bcddd;
    -webkit-text-shadow: 0px 0px 3px #000;
    -moz-text-shadow: 0px 0px 3px #000;
    -o-text-shadow: 0px 0px 3px #000;
    -ms-text-shadow: 0px 0px 3px #000;
    outline: none;
    border: none;
    font-size: 16px;
    margin-top: 50px;
    margin-right: 30px;
    padding: 8px;
    color: #cbf9f7;
    border-color: #3bcddd;
    background-color: #3bcddd;
}
.gray-button{
    box-shadow: inset 0px 0px 10px darkgray;
    border-color: darkgray;
    background-color: darkgray;
}
.smallwidth{
    width: 150px;
}
.pull-right{
    text-align: right;
}
.check-style{

    border: #FFFFFF;
    color: darkgray;
}
